@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

/* CSS Reset */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    flex: 1;
}

div, h1, h2, h3, h4, p, a, li, tr, td, textarea, button, input, select, span{
    font-weight: 300;
    font-family: "Poppins",Poppins,Arial,sans-serif;
    color: inherit;
}

h1, h2 {
    font-size: 1.5em;
}

h1, h2, h3, h4{
    font-weight: 400;
    line-height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

select, input{
    font-size: 16px;
    outline: none;
}

strong{
    font-weight: bold;
}

ul, ol{
    list-style-position: inside;
    padding-left: 0;
}

/* Scrollbar Mods */

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #7F8C8D;
    background-color: rgba(128,128,128,0.3);
    border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
    background: #95A5A6;
    background-color: rgba(128,128,128,0.4);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #BDC3C7; 
    background-color: rgba(128,128,128,0.5);
}

/* TinyMCE Mods */
div[role="application"]{
    margin-top: var(--padding);
    border: 0;
}

.tox-statusbar__branding{
    display: none !important;
}

pre code *{
    font-family: inherit;
}

/* Consent Manager Mods */

#CybotCookiebotDialogHeader{
    display: none !important;
}

/* WRD Bootstrap */

:root{
    --padding: 12px;
    --font-size: 16px;
    --padding: 12px;
    --less-padding: 9px;
    --round: 8px;
    --less-round: 5px;
    --content-width: 1200px;
}

.button{
    display: block;
    padding: 8px 18px;
    font-weight: 300;
    font-size: var(--font-size);
    border-radius: var(--round);
    cursor: pointer;
} 

.lessRound{
    border-radius: var(--less-round);
}

.round{
    border-radius: var(--round);
}

.shadow1{
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

.screenPadding{
    padding: 12px;
}

.padding{
    padding: var(--padding);
}

.less-padding{
    padding: var(--less-padding);
}


.padding-sides{
    padding: 0 var(--padding);
}

.bold{
    font-weight: 400;
}

.textCenter{
    text-align: center;
}

.wordbreakall{
    word-break: break-all;
}

.verticalCenter{
    display: flex;
    align-items: center;
    gap: .25em;
}

.gapchildren > *{
    margin-bottom: var(--padding)
}

.lessgapchildren > *{
    margin-bottom: var(--less-padding)
}

.gapchildren > *:nth-last-child(1), .lessgapchildren > *:nth-last-child(1){
    margin-bottom: 0;
}

.red{
    color: red;
}

.link{
    color: rgb(52, 152, 219);
}